<h1> Lista de todas as tarefas </h1>

<%= link_to "Adicionar tareda", new_task_path %>


  <% @tasks.each do |task| %>
  <h2><%= task.description %> - <%= task.status %></h2>
    <%= link_to "Show", task_path(task) %>
    <%= link_to "Edit", edit_task_path(task) %>
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>




